*
{
margin: 0;
}
.testproject
{
    overflow: hidden;
}
.header
{
    position: relative;
    max-width: 2000px;
    width:100% ;
    height: 1060px;
    background-image: url(./img/789.png);
    background-repeat:no-repeat;
    background-size: 100% 100%;
    opacity: 1;
}
.over
{
    position: absolute;
    opacity: 0.3;
    background-color: black;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
}
.header_circlelogobeer
{
    position: relative;
    z-index: 2;
    width: 157px;
    height: 157px;
    margin-top: 50px;
    margin-left: 46%;
}
.header_maindetail
{
    z-index: 2;
    display: flex;
    margin-top: 175px;
    margin-left: 25%;
}
.header_maindetail-content
{
    color: white;
    font-size: 70px;
    z-index: 2;
    font-family: 'Cinzel Decorative', cursive;
}
.header_maindetail-straightline
{
    z-index: 2;
    width: 250px;
    height: 5px;
    background-color:#cdb378 ;
    margin: auto 5px;
}
.header_extradetail-content
{
    position: relative;
    z-index: 2;
    font-size: 35px;
    color: white;
    margin-left: 26%;
    margin-top: 20px;
    font-family: 'Cinzel Decorative', cursive;
}
.header_extradetail-author
{
    position: relative;
    z-index: 2;
    font-size: 25px;
    color: #cdb378;
    margin-left: 47%;
    margin-top: 20px;
    font-style: italic;
    font-family: 'Amiri', serif;
}
.header_extradetail-scroll
{
    position: relative;
    z-index: 2;
    font-size: 20px;
    color: #cdb378;
    margin-left: 48%;
    margin-top: 310px;
    font-style: italic;
    font-family: 'Amiri', serif;
}
.fa-chevron-down
{
    position: relative;
    z-index: 2;
    font-size: 24px;
    color: #cdb378;
    margin-left:52%;
}
.content
{
    position: relative;
    width: 100%;
    height: 3950px;
    background-repeat: no-repeat;
    background-image: url(./img/photo_beerjoyney.png);
    background-size: 100% 100%;
}
.content_header-joymain
{
    color:white;
    font-size: 45px;
    margin-left: 100px;
    padding-top: 50px;
    letter-spacing: 2px;
    font-family: 'Cinzel Decorative', cursive;
}
.content_header-joyextra
{
    color:#cdb378 ;
    font-size: 14px;
    margin-left: 100px;
    margin-top: 10px;
    letter-spacing: 0.5px;
    font-family: 'Amiri', serif;
}
.content_header-imgmanbeer
{
    position: absolute;
    width: 375px;
    height: 430px;
    right: 0px;
    top:-35px
}
.content_header-imglogozarubeer
{
    position: absolute;
    width: 95%;
    height: 560px;
    top:120px;
    z-index: 1;
}
.content_header-imgbeerbottle
{
    position: absolute;
    width: 160px;
    height: 630px;
    top:40px;
    right: 295px;
    z-index: 1;
}
.content_header-zeusmain
{
    position: absolute;
    top:280px;
    color:#cdb378 ;
    font-size: 55px;
    left:100px;
    z-index: 1;
    font-family: 'Cinzel Decorative', cursive;
}
.content_header-zeusextra
{
    width:680px;
    position: absolute;
    top:360px;
    color:#ebebeb;
    font-size: 14px;
    left:100px;   
    line-height: 40px;
   letter-spacing: 1px;
   z-index: 1;
   font-family: 'Amiri', serif;
}
.content_header-button
{
    position: absolute;
    width: 175px;
    height: 45px;
    left: 100px;
    top: 460px;
    color:white;
    background-color: #272a18;
    border: 2px solid #404429;
    cursor: pointer;
    font-size: 12px;
    z-index: 1;
    font-family: 'Amiri', serif;
}
.content_body-imgdrinkbeer
{
    position: absolute;
    width: 100%;
    height: 690px;
    top: 576px;
}
.content_body-imgcirclebeer
{
    position: absolute;
    width: 650px;
    height: 700px;
    right: 0;
    top:1140px
}
.content_body-main
{
position: absolute;
left: 130px ;
top:1280px;
font-size: 60px;
color:#cdb378;
font-family: 'Cinzel Decorative', cursive;

}
.content_body-extra1
{
position: absolute;
left: 130px ;
top:1580px;
font-size: 14px;
width:500px;
color:#b4ba98;
line-height: 30px;
letter-spacing: 1px;
font-family: 'amiri';
text-align: justify;
}
.content_body-extra2
{
position: absolute;
left: 130px ;
top:1780px;
font-size: 14px;
width:500px;
color:#b4ba98;
line-height: 30px;
letter-spacing: 1.1px;
text-align: justify;
font-family: 'Amiri', serif;
}
.content_footer-main
{
    position: absolute;
    left: 320px;
    top: 2000px;
    font-size: 50px;
    color:#cdb378;
    font-family: 'Cinzel Decorative', cursive;
}
.content_footer-extra
{
    position: absolute;
    top: 2080px;
    left: 550px;
    font-size: 16px;
    width:517px;
    color:#cdb378;
    line-height: 30px;
    text-align: justify;
    font-family: 'Amiri', serif;
}
.content_footer-button
{
    position: absolute;
    top: 2140px;
    width: 160px;
    height: 45px;
    left: 600px;
    color:white;
    background-color: #1a190e;
    border: 2px solid #404429;
    cursor: pointer;
    font-size: 12px;
    font-family:'Times New Roman', Times, serif

}

@media screen and (max-width:739px) {
    .header
     {
        width:100% ;
        height: 300px;
        
     }
    .header_circlelogobeer
     {
     width: 58px;
     height: 58px;
     margin-top: 18px;
     }
    .header_maindetail
     {
     margin-top: 48px;
     margin-left: 31.5%;
     }
    .header_maindetail-content
     {
     font-size: 16px;
     }
    .header_maindetail-straightline
     {
     width: 42px;
     height: 2px;
     }
    .header_extradetail-content
     {
     font-size: 7.2px;
     margin-top: 7px;
     margin-left: 31.5%;
     }
    .header_extradetail-author
     {
     font-size: 6px;
     margin-top: 7px;
     }
    .header_extradetail-scroll
     {
     font-size: 6px;
     margin-top: 60px;
     margin-left: 45%;
     }
    .fa-chevron-down
     {
     font-size: 5px;
     margin-left: 50%;
     }
    .content
     {
     width: 100%;
     height: 1000px;
     }
    .content_header-joymain
     {
     font-size: 7px;
     margin-left: 40px;
     padding-top: 30px;
     }
    .content_header-joyextra
     {
     width:160px;
     font-size: 5px;
     margin-left: 40px;
     margin-top: 4px;
     }
    .content_header-imgmanbeer
     {
     position: absolute;
     width: 140px;
     height: 150px;
     right: 0px;
     top:-15px
     }
    .content_header-imglogozarubeer
     {
     width: 90%;
     height: 150px;
     top:50px;
     z-index: 1;
     }
    .content_header-imgbeerbottle
     {
     width: 38px;
     height: 180px;
     top:12px;
     right: 120px;
     }
    .content_header-zeusmain
     {
     top:95px;
     font-size: 10px;
     left:40px;
     }
    .content_header-zeusextra
     {
     width:150px;
     top:115px;
     font-size: 5px;
     left:40px;   
     line-height: 6px;
     text-align: unset;
     }
    .content_header-button
     {
     width: 50px;
     height: 15px;
     left: 40px;
     top: 145px;
     font-size: 5px;
     border: 0.5px solid #404429;
    }
    .content_body-imgdrinkbeer
     {
     width: 100%;
     height: 150px;
     top: 173px;
     }
    .content_body-imgcirclebeer
     {
     width: 180px;
     height: 180px;
     right: 0;
     top:295px
     }
    .content_body-main
     {
     left: 40px ;
     top:335px;
     font-size: 10px;
     }
    .content_body-extra1
     {
     left: 40px ;
     top:390px;
     font-size: 5px;
     width:120px;
     line-height: 6px;
     text-align: unset;
     }
    .content_body-extra2
     {
     left: 40px ;
     top:460px;
     font-size: 5px;
     width:120px;
     line-height: 6px;
     text-align: unset;
     }
    .content_footer-main
     {
     left: 39% ;
     top: 500px;
     font-size: 10px;
     }
    .content_footer-extra
     {
     top: 520px;
     left: 50%;
     font-size: 3px;
     width:191px;
     line-height: 4px;
     }
    .content_footer-button
     {
     top: 530px;
     width: 40px;
     height: 12px;
     left: 52%;
     font-size: 3px;
     border: 0.5px solid #404429;
    }
}